.btn__menuApp {
      min-width: 4rem;
      position: relative;
      z-index: 200;
      height: 4rem;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 0.8rem;
      cursor: pointer;
      color: var(--sidebar-item-text-color);
}

.btn__menuApp:hover {
      background-color: rgb(251 105 0 / 8%);
      color: var(--color-theme);
}

.overlay {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.2);
}

.menu__triangle {
      width: 1.8rem;
      height: 1rem;
      position: absolute;
      top: 105%;
      background-color: #fff;
      clip-path: polygon(50% 0%, 0 100%, 100% 100%);
}

.wrapper__menu {
      position: absolute;
      top: calc(105% + 0.7rem);
      right: -10vw;
      height: max-content;
      border-radius: var(--borderRadiusMenuApp);
}

.menu-all-section {
      width: 25%;
      display: flex;
      flex-direction: column;
      font-size: 1.2rem;
}

.menu-all-section > .title {
      text-transform: uppercase;
      text-align: left;
      font-size: 1.3rem;
      font-weight: 700;
      margin: 1rem 0;
}

.menu-all-section > a {
      position: relative;
      height: 10rem;
      padding: 0.6rem;
      display: flex;
      align-items: center;
      gap: 1rem;
      border: 0.1rem solid transparent;
      border-radius: 1rem;
}

.menu-all-section > a:hover {
      border: 0.1rem solid #e9e9e9;
}

.menu-all-section > a:hover > .check {
      display: flex;
      justify-content: center;
      align-items: center;
}

.menu-all-section > a > .check {
      position: absolute;
      top: 1rem;
      right: 1rem;
      display: none;
      width: 2rem;
      height: 2rem;
      border-radius: 50%;
      border: 1px solid #e9e9e9;
}

.menu-all-section > a > .icon {
      width: 4rem;
      height: 4rem;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: #e5e5e5;
      border-radius: 1rem;
}

.menu-all-section > a > .content {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      color: #333;
}

.menu-all-section .content .content-title {
      font-weight: 600;
}

.menu-all-section .content .content-desc {
      opacity: 0.8;
      font-size: 1.1rem;
}




@media screen and (min-width: 768px) and (max-width: 1024px) {

      .wrapper__menu {
            position: absolute;
            top: calc(105% + 0.7rem);
            right: -14rem;
            width: 90vw;
            height: max-content;
            overflow: auto;
            border-radius: var(--borderRadiusMenuApp);
      }
      .container__menu {
            background-color: #fff;
            width: 90rem;
            border-radius: var(--borderRadiusMenuApp);
            min-height: 13rem;
            display: flex;
            flex-direction: column;
      }

      .menu__all {
            padding: 1rem;
            width: max-content;
      }
      
}

@media screen and (max-width: 767px) {

      .wrapper__menu {
            position: absolute;
            top: calc(105% + 0.7rem);
            right: -10rem;
            width: 85vw;
            height: max-content;
            overflow: auto;
            border-radius: var(--borderRadiusMenuApp);
      }
      .container__menu {
            background-color: #fff;
            width: 90rem;
            border-radius: var(--borderRadiusMenuApp);
            min-height: 13rem;
            display: flex;
            flex-direction: column;
      }

      .menu__all {
            padding: 1rem;
            width: max-content;
      }

      .menu-all-section {
            width: 25%;
            display: flex;
            flex-direction: column;
            font-size: 1.2rem;
      }
}